<% provide(:title, 'About') %>
<h1>About the app</h1>
<p>
  Designed by Daniel Sheng
  <br>
  University of Texas at Austin Class of 2014
  <br>
  Bachelors of Science- Computer Science
  <br>
  dsheng@utexas.edu
</p>
