<% provide(:title, 'Home') %>
<div class="center hero-unit">
  <h1>Gamesapp</h1>

  <h2>This is the home page for rawr!</h2>

  <%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org' %>
