<footer class="footer">
  <small>
    <a href="http://google.com/">Google</a>,
    a search engine
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", '#' %>
      <li><%= link_to "Contact", contact_path %>
      <li><a href="http://cnn.com/">CNN</a></li>
    </ul>
  </nav>
</footer>
